.flex{
    height: 100vh;
    width: 30vw;
    top: 0px;
    .form{
      opacity: .9;
      width: 30vw;
      height: 75vh;
      input{
        padding: 0.4em;
        font-size: 1em;
        max-width: 100%;
      }
      p{
        font-size: 1.3em;
      }
      .bar{
        height: 3px;
      }
      button{
        font-size: 1.3em;
        border-radius: 5px;
      }
      .errors{
        min-width: 100%;
        padding: 1em;
      }
      h1, li{
        color: $pageWhite;
      }
      h1{
        font-size: 1.5em;
      }
    }
  }