:root {
    --primary-color: #A5EFFF;
    --secondary-color: #AD822B;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #285576;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100vw;
    margin: 0%;
    padding: 2vh 0em;
    background-color: #A5EFFFEE;
    box-shadow: 2px 0px 4px #272727;
    z-index: 10;
}

header nav ul {
    margin: 0%;
}

h1 {
    margin: 0%;
    margin-left: 40px;
    font-size: medium;
    font-weight: 600;
    color: var(--secondary-color);
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;
}

.hamburguer-button {
    margin-right: 10px;
}

.line {
    width: 30px;
    height: 3px;
    background: var(--secondary-color);
    margin: 5px;
}

nav ul {
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li {
    list-style: none;
}

.nav-container-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    top: 40px;
}

.nav-links {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.nav-links:hover {
    color: var(--primary-color);
    background-color: #285576;
}

main {
    padding: 0;
    margin: 0;
}

main > h2 {
    margin: 0;
    padding-top: 2.8em;
}

.black-cap {
    background-color: rgb(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    width: 98%;
    height: 70%;
    z-index: 2;
}

.carousel-text h2 {
    color: white;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
}

.carousel-text h3 {
    text-align: center;
    color: white;
    font-size: 1.6em;
}

.carousel-text button {
    border: none;
    width: 8em;
    height: 2em;
    background-color: #A5EFFF;
    color: var(--secondary-color);
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-text button:hover {
    background-color: #6cb9ca;
}

.carousel-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.formar-parte {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
}

.carousel-frame {
    width: 100%;
    /*height: 95vh;*/
    height: 100%;
}

.carousel-frame img {
    width: 100%;
    height: 100%;
}

.frame-dot-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    z-index: 2;
}

.frame-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active-frame-dot {
    background-color: #ffffff;
}

.white-section {
    background-color: #ffffff;
}

#section-frase {
    background-color: #222431;
    color: #e7e7e7;
    display: flex;
    justify-content: center;    
}

#section-frase p {
    padding: 20px;
    font-style: italic;
    font-size: 18px;
    text-align: justify;
}

h2 {
    padding: 0.5em 0em 0.5em 0em;
    text-align: center;
    color: var(--secondary-color);
    text-shadow: 2px 3px 1px black;
}

.section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /*background: linear-gradient(245.18deg, #F8D15F 47.14%, #ffffff00 100%), #F8D15F;
    background: -webkit-linear-gradient(245.18deg, #F8D15F 47.14%, #ffffff00 100%), #F8D15F; 
    background:    -moz-linear-gradient(245.18deg, #F8D15F 47.14%, #ffffff00 100%), #F8D15F; 
    background:     -ms-linear-gradient(245.18deg, #F8D15F 47.14%, #ffffff00 100%), #F8D15F; 
    background:      -o-linear-gradient(245.18deg, #F8D15F 47.14%, #ffffff00 100%), #F8D15F;*/

    margin-bottom: 20px;
}

.section-cards h3 {
    font-size: 1.4em;
    margin: 0;
    margin-top: 20px;
}

.section-cards-grid {
    display: grid;
    grid-row: 3;
    justify-items: center;
}


.card {
    position: relative;
    width: 80vw;
    height: 50vh;
    margin-top: 1em;
}

.card h3 {
    text-align: center;
    /*color: #000000;*/
    margin-bottom: 7px;
    font-size: 1.3em;
}

.card h4 {
    text-align: center;
    color: #000000;
    font-size: 1.3em;
}

.card a {
    text-decoration: none;
    color: #285576;
}

.card ul {
    list-style: none;
}

.card a:after {
    content: "\27A4";
    margin-left: 10px;
}

.inner-circle, .outer-circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .outer-circle {
    width: 150px;
    height: 150px;
}

.space-bottom {
    margin-bottom: 15px;
}

.outer-card {
    flex: 0 0 auto;
    margin-right: 5px;
    margin-left: 2px;
}

.outer-card h4 {
    margin: 8px;
}

.inner-card {
    width: 95%;
    height: 95%;
    margin: 0;
    margin-bottom: 3%;
}

.round-card {
    border-radius: 5%;
    overflow: hidden;
}

.center-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.horizontal-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.horizontal-flex span {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.horizontal-flex span svg {
    width: 30px;
    height: 30px;
}

.coordinador-card {
    background-color: #ffffff;
}

.coordinador-card p {
    padding: 0px 2px;
    text-align: center;
}

#movimientos-circle {
    background-color: #EDDA82;
}

#eventos-circle {
    background-color: #D25050;
}

#extensiones-circle {
    background-color: #92DB78;
}

#sacramentos-circle {
    background-color: #8746C7;
}

.preJuveniles-btn {
    background-color: #64CFBC;
}

.Juveniles-btn {
    background-color: #F8D270;
}

.preComunidades-btn {
    background-color: #70C5E0;
}

.left-btn {
    transform: rotate(-90deg);

}

.right-btn {
    transform: rotate(90deg);
}

.left-btn svg path, .right-btn svg path {
    fill: #ffffff;
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .inner-circle {
    width: 90%;
    height: 90%;
    background-color: #ffffff;
}

.card img {
    width: 60%;
    height: 60%;
}

.coordinador-card img {
    width: 100%;
}

.inner-card img {
    width: 100%;
    height: 100%;
}


.card #church-img {
    width: 80%;
    height: 80%;
}

.card #events-img {
    width: 100%;
    height: 100%;
}

.card #sacramentos-img {
    width: 90%;
    height: 90%;
}

.card button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #60C4DA;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#movimientos-btn {
    background-color: #EDDA82;
}

#eventos-btn {
    background-color: #D25050;
}

#extensiones-btn {
    background-color: #92DB78;
}

#sacramentos-btn {
    background-color: #8746C7;
}

/*
.card .ver-mas-btn {
    width: 40px;
    height: 40px;
    right: 43%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

/*
.card .ver-mas-btn span {
    display: none;
}
*/

.card button svg {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}

#movimientos-btn svg path {
    fill: #FBEA9A;
}

#eventos-btn svg path {
    fill: #EB7878;
}

#extensiones-btn svg path {
    fill: #ACF493;
}

.sacramentos-card {
    height: 50vh;
}

.card-front, .card-back {
    overflow: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .6s linear;
    box-shadow: 2px 4px 2px black;
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: perspective(600px) rotateY(0deg);
}

#movimientos-card {
    background-color: #FBEA9A;
}

#eventos-card {
    background-color: #EB7878;
}

#extensiones-card {
    background-color: #ACF493;
}

#sacramentos-card { 
    background-color: #B468FF;
}

#preJuveniles-card {
    background-color: #64CFBC;
}

#juveniles-card {
    background-color: #F8D270;
}

#preComunidades-card {
    background-color: #70C5E0;
}

.card-back {
    background-color: #FEFEFE;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.back-content ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    color: #285576;
    margin: 5px 0px;
}

.back-content li {
    margin: 10px 0px;
    font-size: 1.3em;
    text-align: center;
}

.card:hover > .card-front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .card-back {
    transform: perspective(600px) rotateY(0deg);
}

.li-space {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.li-date {
    color: #000000;
    font-size: 15px;
}

.no-margin, .card .no-margin {
    margin: 0;
}

.back-content .height-80 {
    height: 80%;
}

.card .no-before:after {
    content: none;
}

.card .mas-info-btn {
    font-size: 30px;
    background-color: #D25050;
}

.card .mas-info-btn:hover {
    cursor: pointer;
    background-color: #b14343;
}

.card .green-pastel {
    background-color: #92DB78;
}

.card .green-pastel:hover {
    background-color: #75b95d;
}


.card .mas-info-btn svg {
    transform: rotate(0deg);
}

.card .mas-info-btn svg path {
    fill: #ffffff;
}

/*.card-2 {
    flex: 1 2;
}*/

.date-p {
    font-size: 60px;
    font-weight: bold;
}

/*.card-petite {
    height: 30vh;
}*/

.text-shadow-l {
    text-shadow: 4px 4px 4px black;
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content-white, .card .content-white {
    color: #ffffff;
}

.text-center {
    text-align: center;
}

.title-section {
    font-size: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    padding: 0.5vh 0em;
    background-color: var(--primary-color);
    box-shadow: 0px -2px 4px #272727;
    z-index: 10;
    color: var(--secondary-color);
}

footer p {
    margin-left: 2em;
    font-weight: bold;
}

footer i {
    margin-right: 2em;
}

footer i img {
    width: 2em;
    height: 2em;
}

.color-orange {
    background-color: #F8D270;
}

.cloud-1 {
    display: none;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////*/

/*TABLET*/

@media (min-width: 461px) {

    .carousel-text h2 {
        font-size: 4em;
    }

    .carousel-text h3 {
        font-size: 3em;
    }

    .carousel-text button {
        width: 8em;
        height: 2.5em;
        font-size: 1.5em;
    }

    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 2em;
    }

    .card {
        width: 35vw;
        height: 30vh;
    }

    .card-2 {
        width: 49%;
        height: 80%;
    }

    .card h3 {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .card button {
        width: 60px;
        height: 60px;
    }

    .card-front {
        z-index: 1;
    }

    .card-back {
        transform: perspective(600px) rotateY(0deg);
        z-index: 0  ;
    }

    .card:hover > .card-front {
        transform: rotate(0deg);
        transform: translateX(-50%);
    }
    
    .card:hover > .card-back {
        transform: translateX(50%);
    }

    .horizontal-scroll {
        margin: 0 auto;
    }

    .horizontal-flex span {
        width: 35px;
        height: 35px;
        margin: 0px 20px;
    }
    
    .horizontal-flex span svg {
        width: 35px;
        height: 35px;
        pointer-events: none;
    }

    .section-cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*DESKTOP*/

@media (min-width: 1025px) {
    
    header {
        padding: 2vh 0;
    }

    .hamburguer-button {
        display: none;
    }
    
    nav {
        overflow: visible;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-container-links {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background-color: #A5EFFF00;
        height: auto;
        width: auto;
        font-size: 1.4em;
        top: 0;
        margin-right: 50px;
    }

    .nav-links {
        padding: 2.25vh 1em;
    }

    .carousel-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 5%;
        width: 70em;
        height: 50em;
        z-index: 2;
    }
    
    .carousel-text h2 {
        font-size: 5em;
    }

    .carousel-text button {
        height: 2em;
        background-color: #A5EFFF;
        color: var(--secondary-color);
        font-size: 1.5em;
        cursor: pointer;
    }
    
    .carousel-container {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .frame-dot-container {
        margin: 20px 0px;
        left: 49%;
    }

    #section-frase {
        margin-top: 40px;
    }

    #section-frase p {
        font-size: 1.5em;
    }

    h2 {
        font-size: 2.5em;
    }

    .section-conocernos {
        height: 60vh;
        position: relative;
    }

    .section-cards, .section-cards-horizontal {
        height: 100%;
        /*margin-top: 30px;*/
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-top: 4em;
    }

    .section-cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-cards h3 {
        margin: 0;
    }

    .section-cards-horizontal {
        flex-direction: column;
    }

    .column-section {
        flex-direction: column;
        align-items: center;
    }

    .bottom-padding {
        padding-bottom: 4em;
    }
    
    #section-sacramentos {
        justify-content: flex-start;
    }
    
    .card {
        width:  20vw;
        height: 25em;
        box-shadow: none;
    }

    .card-3 {
        width: 33%;
        height: 80%;
    }

    .card h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .sacramentos-card {
        width: 20vw;
        height: 40vh;
        margin-left: 10%;
    }

    .sacramentos-card .card-front {
        z-index: 2;
    }

    .card-back {
        transform: perspective(600px) rotateY(180deg);
        z-index: 0;
    }

    .card:hover > .card-front {
        transform: perspective(600px) rotateY(-180deg);
    }
    
    .card:hover > .card-back {
        transform: perspective(600px) rotateY(0deg);
    }

    .sacramentos-card .card-back {
        transform: perspective(600px) rotateY(0deg);
    }

    .sacramentos-card:hover > .card-front {
        transform: translateX(0%);
    }
    
    .sacramentos-card:hover > .card-back {
        transform: translateX(100%);
    }

    .coordinador-card {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 90vw;
        height: 60vh;
        margin-bottom: 20px;
    }

    .coordinador-card img {
        width: 31em;
        height: 31em;
        margin-left: 50px;
    }

    .coordinador-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 28em;
        width: 70vw;
        margin-left: 20px;
    }
    
    .inner-card {
        width: 95%;
    }
    
    .horizontal-scroll::-webkit-scrollbar {
        display: none;
      }
     
    .horizontal-scroll {
        -ms-overflow-style: none;
    }

    /*.card-front {
        transform: perspective(600px) rotateX(0deg);
    }

    .card-back {
        transform: perspective(600px) rotateX(-180deg);
    }

    .back-content ul {
        display: flex;
    }

    .back-content li {
        margin: auto 15px;
    }

    .sacramentos-card:hover > .card-front {
        transform: perspective(600px) rotateX(180deg);
    }
    
    .sacramentos-card:hover > .card-back {
        transform: perspective(600px) rotateX(0deg);
    }*/

    footer {
        padding: 1vh 0;
    }

    footer p {
        font-size: 1.5em;
    }

    footer i img {
        width: 3em;
        height: 3em;
    }

    .no-padding {
        padding: 0;
    }

    .no-margin {
        margin: 0;
    }

    .cloud-1 {
        display: block;
        position: absolute;
        top: 120%;
        left: 40%;
        height: 20em;
        width:  30em;
        /*animation: cloud-1-anim 20s linear infinite;*/
        z-index: -2;
      }
      /*
      @keyframes cloud-1-anim {
          100% {left: 110%;}
          0% {left: -20%;}
      } */     

    .cloud-1 svg {
        display: block;
        width: 100%;
        height: 100%;
    }

    #cloud-2 {
        top: 150%;
        left: 0%;
        /*animation: cloud-1-anim 8s linear infinite;*/
    }

    #cloud-2 svg {
        width: 80%;
        height: 80%;
    }

    #cloud-3 {
        top: 180%;
        left: 50%;
        /*animation: cloud-1-anim 30s linear infinite;*/
    }

    #cloud-3 svg {
        width: 120%;
        height: 120%;
    }

    #cloud-4 {
        top: 200%;
        left: -10%;
        /*animation: cloud-1-anim 15s linear infinite;*/
    }

    #cloud-4 svg {
        width: 120%;
        height: 110%;
    }

}