.hero{
  background-image: url("../imgs/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;
    .ad{
      position: absolute;
      top: calc(50vh - 8em);
      left: calc(50vw - 150px);
      align-items: center;
      align-content: center;
      padding: 0.2em;
      text-align: center;
      h2{
        font-size: 2.5em;
        color: $pageWhite;
      }
      button{
        margin: 0.5em;
        border-radius: 9px;
        padding: 0.5em;
        font-size: 2.5em;
        border: none;
        @include buttonHover($pageRed, $pageWhite);
        opacity: 0.8;
      }
    }
}