$pageRed: #bf0000;
$pageRedDarker: #be0202;
$pageRedLighter: #d84f4f;
$pageSalmon: #ffefef;
$pagePink: #f74c4c;
$pageSalmonDarker: #ffcece;
$pageWhite: #fff;
$pageWhiteWOpacity: rgba(255, 255, 255, 0.9);
$pageWhiteDarker: rgb(224, 224, 224);
$pageGrey: #9c9c9c;
$pageBlack: #1d1d1d81;
$pageDark: #000;
$pageWhiteGrey: rgb(240, 240, 240);
$green: #42ff4b;
$orange: #ff531e;
$yellow: #fcff4e;
$blue: #3633ff;
